@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  background: #d8efff;
  font-family: "DM Sans", sans-serif;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}
span {
  font-weight: bolder;
  cursor: pointer;
}

button {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

h2 {
  margin: 0;
}

#Login {
  padding-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

/* HOMEPAGE */
.homepage {
  height: 100%;
  padding-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

/* HEADER */
header {
  background: rgb(73, 176, 236);
  display: flex;
  align-items: center;
}

header h1 {
  font-style: italic;
  font-weight: 600;
  color: whitesmoke;
}

header a {
  font-size: 2em;
  margin: 0 20px;
  color: whitesmoke;
}

/* LABELS */
.modal-body form {
  display: flex;
  flex-direction: column;
}
.label-title {
  font-weight: 300;
  margin: 15px 0;
}
.label {
  margin: 0 3px;
  padding: 5px 20px;
  border-radius: 5px;
}

/* SIGN UP/LOGIN */
.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form input {
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5;
  width: 40vw;
}

@media screen and (max-width: 680px) {
  .create-board-wrapper {
    flex-direction: column;
  }

  .create-board-wrapper button {
    margin: 5px auto 10px auto;
  }

  .board-preview-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .sign-up-form input {
    width: 80vw;
  }
}
