/* CREATE BOARD FORM */
.create-board-wrapper {
  margin: 20px;
  background: lightgray;
  border-radius: 5px;
  cursor: auto;
  display: flex;
  filter: drop-shadow(1px 3px 5px #060606);
  margin-left: 5%;
  margin-right: 5%;
}

.create-board-wrapper input {
  margin: 5px;
  flex: 2;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5;
}

.create-board-wrapper select {
  margin: 5px;
  flex: 1;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

.create-board-wrapper button {
  background: rgb(73, 176, 236);
  flex: 1;
}

.card:hover,
.board-preview-item:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.user-area {
  flex: 4;
  margin-right: 20px;
  text-align: right;
}

/* HOME */
.board-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 5%;
}

.board-preview-container {
  display: flex;
  flex-direction: column;
  width: 28%;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.board-preview-item {
  position: relative;
  display: inline-block;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.board-preview-item li {
  list-style: none;
}

.board-preview-container .btn {
  color: black;
  font-size: 12px;
  background-color: white !important;
  border: none;
}

.board-preview-container .btn:hover {
  background-color: red !important;
  color: white;
  transition-duration: 300ms;
}

/* BOARD */
.board-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.board-header input {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  font-weight: bolder;
}

.board-header button {
  background: rgb(247, 134, 100);
  color: whitesmoke;
  font-weight: bolder;
  width: 20%;
}

.board-wrapper {
  height: 80vh;
  margin: 2%;
  border: 1px solid black;
}

.board-wrapper h2 {
  padding: 10px;
}
