#footer {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-content: center;
  text-align: center;
}

#footer Button {
  background: transparent;
  color: black;
  border: none;
}

#footer Button:hover,
#footer Button:active,
#footer Button:focus {
  outline: none;
  border: none;
}
