#navbar {
  padding: 10px;
}

#Home_Icon {
  color: var(--text_color);
  font-size: 1.5em;
}

#navbar a {
  color: var(--text_color);
}

#footer {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-content: center;
  text-align: center;
}

#navbar Button,
#footer Button {
  background: transparent;
  /*color: black;*/
  border: none;
}

#navbar Button,
#footer Button:hover,
#footer Button:active,
#footer Button:focus {
  outline: none;
  border: none;
}

#footer a {
  color: var(--text_color);
  text-decoration: none;
}
.modal,
.modal-body,
.modal-footer {
  border: none;
  outline: none;
}

.list-group {
  border: none;
}
.accordion-body li {
  color: var(--text_color);
  /*background-color: #909090;*/
}

#information,
#information div,
#information button,
#settings {
  background: var(--bg_color);
  color: var(--text_color);
  border: var(--text_color);
}
