#navbar {
  padding: 10px;
}

#Home_Icon {
  color: black;
  font-size: 1.5em;
}

#footer {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-content: center;
  text-align: center;
}

#navbar Button,
#footer Button {
  background: transparent;
  color: black;
  border: none;
}

#navbar Button,
#footer Button:hover,
#footer Button:active,
#footer Button:focus {
  outline: none;
  border: none;
}

#footer a {
  color: black;
  text-decoration: none;
}
