#navbar {
  padding: 10px;
}

#Home_Icon {
  color: var(--text_color);
  font-size: 1.5em;
}

#navbar a {
  color: var(--text_color);
}

#footer {
  padding-right: 20px;
  padding-left: 20px;
}

#footer_modal * {
  background: var(--bg_color);
  color: var(--text_color);
}

#footer_container {
  border: 1px solid black;
}

#navbar Button,
#footer Button {
  background: transparent;
  border: none;
}

#navbar Button,
#footer Button:hover,
#footer Button:active,
#footer Button:focus {
  outline: none;
  border: none;
}

#footer a {
  color: var(--text_color);
  text-decoration: none;
}
.modal,
.modal-body,
.modal-footer,
.modal-header {
  border: none;
  outline: none;
}

.list-group {
  border: none;
}

.navbar_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  background: var(--bg_color);
  color: var(--text_color);
}

#settings Button {
  width: 80%;
}
